#redirect
Redirect /hacklab https://lucacastelnuovo.nl/files/f2b943464913cd1c102f2623c9918ea2d613b156c0fb5ecd14a9d91f58693d15.pdf
Redirect /cv https://lucacastelnuovo.nl/files/4d18db80e353e526ad6d42a62aaa29bec36af63f87acebba1c23498809db7537.pdf

#errors
ErrorDocument 400 /
ErrorDocument 401 /
ErrorDocument 402 /
ErrorDocument 403 /
ErrorDocument 404 /
ErrorDocument 500 /


Header unset Last-Modified
FileETag none
ExpiresActive On
ExpiresDefault "access plus 1 years"

