# block access to .pdf
<Files ~ "\.pdf$">
    Order allow,deny
    Deny from all
</Files>

#redirect
Redirect /hacklab https://lucacastelnuovo.nl/files/view.php?id=f2b943464913cd1c102f2623c9918ea2d613b156c0fb5ecd14a9d91f58693d15
Redirect /cv https://lucacastelnuovo.nl/files/view.php?id=4d18db80e353e526ad6d42a62aaa29bec36af63f87acebba1c23498809db7537